[Unit]
Description=Exercise Tracker T1 Backend
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/2025/project3/t1
Environment=NODE_ENV=production
Environment=PORT=3021
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=tracker-t1-backend
 
[Install]
WantedBy=multi-user.target

